 .u-section-1 {
  background-image: url("images/FONDO.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 329px;
}

.u-section-1 .u-table-1 {
  margin-top: 92px;
  margin-bottom: 27px;
}

.u-block-19ed-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-block-19ed-93 {
  height: 46px;
}

.u-block-19ed-94 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-block-19ed-96 {
  background-image: none;
  font-weight: 700;
}

.u-block-19ed-97 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  text-transform: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-1 .u-icon-1 {
  width: 80px;
  height: 80px;
  font-size: 3.125em;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 10px 31px 11px 29px;
}

.u-block-19ed-35 {
  background-image: none;
}