 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  transition-duration: 0.5s;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-1 .u-accordion-1 {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 232px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-table-1 {
  margin-top: 2px;
  margin-bottom: 0;
  width: 100%;
}

.u-block-f23a-54 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-2 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-5 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-6 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-11 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-16 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-21 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-26 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-31 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-36 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-block-f23a-85 {
  height: 46px;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 179px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-table-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-f23a-114 {
  height: 46px;
}

.u-section-1 .u-table-cell-41 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-42 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-43 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-44 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-45 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-46 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-47 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-48 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-49 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-50 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-51 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-52 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-53 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-54 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-55 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-56 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-57 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-58 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-59 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-60 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-61 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-62 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-63 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-64 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-65 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-66 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-67 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-68 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-69 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-70 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-block-f23a-137 {
  height: 46px;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 179px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-table-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-f23a-175 {
  height: 46px;
}

.u-section-1 .u-table-cell-71 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-72 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-73 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-74 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-75 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-76 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-81 {
  text-transform: uppercase;
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-86 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-91 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-96 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-101 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-block-f23a-198 {
  height: 46px;
}

.u-section-1 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 199px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-table-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-f23a-231 {
  height: 46px;
}

.u-section-1 .u-table-cell-106 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-107 {
  font-weight: 400;
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-108 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-109 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-110 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-111 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-116 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-121 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-126 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-block-f23a-254 {
  height: 46px;
}

.u-section-1 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-1 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 199px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-table-5 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-f23a-277 {
  height: 46px;
}

.u-section-1 .u-table-cell-131 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-132 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-133 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-134 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-135 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-136 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-141 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-146 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-151 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-156 {
  font-size: 0.875rem;
}

.u-block-f23a-290 {
  height: 46px;
}

.u-section-1 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-1 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 199px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-table-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-f23a-344 {
  height: 46px;
}

.u-section-1 .u-table-cell-161 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-162 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-163 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-164 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-165 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-166 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-171 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-176 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-181 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-186 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-191 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-196 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-block-f23a-367 {
  height: 46px;
}

.u-section-1 .u-accordion-link-7 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-1 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-7 {
  min-height: 517px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-table-7 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-f23a-409 {
  height: 46px;
}

.u-section-1 .u-table-cell-201 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-202 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-203 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-204 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-205 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-206 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-211 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-216 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-221 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-226 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-231 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-block-f23a-432 {
  height: 46px;
}

.u-section-1 .u-accordion-link-8 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-1 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-8 {
  min-height: 232px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-table-8 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-f23a-470 {
  height: 46px;
}

.u-section-1 .u-table-cell-236 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-237 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-238 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-239 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-240 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-241 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-246 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-251 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-256 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-261 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-266 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-271 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.u-block-f23a-493 {
  height: 46px;
}

.u-section-1 .u-accordion-link-9 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-1 .u-icon-9 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-9 {
  min-height: 232px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-table-9 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-f23a-531 {
  height: 46px;
}

.u-section-1 .u-table-cell-276 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-277 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-278 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-279 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-280 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-281 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-286 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-291 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-296 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-block-f23a-554 {
  height: 46px;
}

.u-section-1 .u-accordion-link-10 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-1 .u-icon-10 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-10 {
  min-height: 232px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-table-10 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-f23a-593 {
  height: 46px;
}

.u-section-1 .u-table-cell-301 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-302 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-303 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-304 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-305 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-306 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-311 {
  text-transform: uppercase;
  font-size: 0.875rem;
}

.u-block-f23a-616 {
  height: 46px;
}

.u-section-1 .u-accordion-link-11 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-1 .u-icon-11 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-11 {
  min-height: 232px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-table-11 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-f23a-629 {
  height: 46px;
}

.u-section-1 .u-table-cell-316 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-317 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-318 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-319 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-320 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-321 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-326 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-331 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-336 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-block-f23a-662 {
  height: 46px;
}

.u-section-1 .u-accordion-link-12 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-1 .u-icon-12 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-12 {
  min-height: 232px;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-table-12 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-f23a-680 {
  height: 46px;
}

.u-section-1 .u-table-cell-341 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-342 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-343 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-344 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-345 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-346 {
  font-weight: 400;
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-347 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-348 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-349 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-350 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-351 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-352 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-353 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-354 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-355 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-356 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-357 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-358 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-359 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-360 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-361 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
}

.u-section-1 .u-table-cell-362 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-363 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-364 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-365 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-366 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
}

.u-section-1 .u-table-cell-367 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-368 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-369 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-370 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-371 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
}

.u-section-1 .u-table-cell-372 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-373 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-374 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-375 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-376 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
}

.u-section-1 .u-table-cell-377 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-378 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-379 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-380 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-381 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
}

.u-section-1 .u-table-cell-382 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-383 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-384 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-385 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-386 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
}

.u-section-1 .u-table-cell-387 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-388 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-389 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-390 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-391 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
}

.u-section-1 .u-table-cell-392 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-393 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-394 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-395 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-396 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
}

.u-section-1 .u-table-cell-397 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-398 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-399 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-400 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-401 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
}

.u-section-1 .u-table-cell-402 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-403 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-404 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-405 {
  font-weight: 700;
}

.u-block-f23a-703 {
  height: 46px;
}

.u-section-1 .u-accordion-link-13 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-1 .u-icon-13 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-13 {
  min-height: 232px;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-table-13 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-f23a-791 {
  height: 46px;
}

.u-section-1 .u-table-cell-406 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-407 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-408 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-409 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-410 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-411 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-416 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-421 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-426 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-431 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-436 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-441 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-block-f23a-814 {
  height: 46px;
}

.u-section-1 .u-accordion-link-14 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-1 .u-icon-14 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-14 {
  min-height: 232px;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px;
}

.u-section-1 .u-table-14 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-f23a-857 {
  height: 46px;
}

.u-section-1 .u-table-cell-446 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-447 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-448 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-449 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-450 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-451 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-456 {
  text-transform: uppercase;
  font-size: 0.875rem;
}

.u-block-f23a-880 {
  height: 46px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    font-weight: bold;
  }

  .u-section-1 .u-accordion-1 {
    width: auto;
  }

  .u-section-1 .u-table-cell-4 {
    margin: 0;
  }

  .u-section-1 .u-table-cell-5 {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  font-weight: 700 !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  font-weight: 700 !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}